body {
  background-color: #F4EBE8;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #100F0F;
  text-align: justify;
  letter-spacing: 0.5px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  color: #068790;
  letter-spacing: 1.5px;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: #068790;
}

a {
  text-decoration: none;
  color: #F4EBE8;
}

ul {
  list-style-type: none;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.icon {
  color: rgba(125, 91, 166, 1);
  font-size: 28px;
}

.fa-solid {
  color: rgba(125, 91, 166, 1);}

.icon:hover {
  color: rgba(125, 91, 166, 0.8);}

.job-description {
  letter-spacing: 3px;
  text-align: right;
  word-spacing: 0.75em;
  padding-left: 20px;
  float: right;
  margin-top: 95px;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  margin: 15px;
  justify-content: center;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.info-card {
  text-align: center;
}

.links-card {
  text-align: center;
}

#links-list {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  margin-left: 207px;
}

#links-list li {
  float: left;
}

#links-list li a {
  display: inline-block;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
